<%
var lastYear;
var lastMonth;
%>

<% if (page.category) { %>
    <div class="article-count"><%= page.category %> - <%= page.posts.length %></div>
<% } else if(page.tag){%>
    <div class="article-count"><%= page.tag %> - <%= page.posts.length %></div>
<% } %>
    <div id="post_list">
        <% page.posts.sort('date', 'desc').each(function(post) { %>
            <% var title = post.title === "" ? __('post.title') : post.title %>
            <div class="post_item">
                <a href="<%- url_for(post.path) %>" title="<%- title %>">
                    <div class="card-image card-image-V">
                        <div class="box-content">
                            <h3 title="<%- title %>">阅读全文</h3>
                            <div class="post_title">
                                <%- title %>
                            </div>
                        </div>
                        <% if (post.img) { %>
                            <div class="cover_wrap">
                                <img src="<%- post.img %>" alt="<%- title %>" class="cover">
                                <div class="card-title title-V">
                                    <%- title %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </a>
                <div class="post_description">
                    <%
                        var length = theme.index_description.length
                        var description = ''
                        if (post.summary) {
                            description = post.summary
                        } else {
                            description = strip_html(post.content)
                            description = description.substring(0, length)
                        }
                    %>
                    <%- description %>
                </div>
                <div class="post_meta_wrap">
                <span class="post_meta_date">
                    <i class="far fa-calendar-alt"></i>
                    <span><%- __('post.created') %>  </span>
                    <span>
                        <%= post.date.format('YYYY-MM-DD') %>
                    </span>
                </span>
                    <% if(post.categories.length != 0){ %>
                        <span class="post_categorie">
                    <i class="fas fa-folder-open"></i>
                            <% post.categories.forEach(function(categories, i){ %>
                                <a href="<%= url_for(categories.path) %>">
                            <%- categories.name %>
                        </a>
                                <% if(post.categories.length - 1 > i){ %>
                                    <i class="fas fa-angle-right"></i>
                                <% } %>
                            <% }) %>
                        </span>
                    <% } %>
                    <% if(post.tags.length != 0){ %>
                        <br>
                        <span class="post_tag">
                            <% post.tags.forEach(function(tag, i){ %>
                                <i class="fa fa-tag"></i>
                                <a href="<%= url_for(tag.path) %>">
                                <%- tag.name %>
                            </a>
                            <% }) %>
                        </span>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>

<%- partial('pagination') %>