<% var title = page.title == "" ? __('post.title') : page.title %>
<article class="post" id="post">
    <div class="post_info">
        <div class="post_title">
            <h1><%= title %></h1>
        </div>
        <div class="post_meta">
            <div class="post_date">
                <i class="far fa-calendar-alt fa-fw post-meta-icon"></i>
                <span class="post-meta-label">
                    <%- __('post.created') %>
                    <span id="dateTime">
                        <%- date(page.date, "YYYY-MM-DD") %>
                    </span> |
                </span>
                <i class="fas fa-history fa-fw post-meta-icon"></i>
                <span class="post-meta-label">
                    <%- __('post.updated') %>
                    <span id="updateTime">
                        <%- date(page.update, "YYYY-MM-DD") %>
                    </span>
                </span>
            </div>
            <div class="post-meta-wordcount">
                <i class="far fa-file-word fa-fw post-meta-icon"></i>
                <span class="post-meta-label"><%- __('post.wordcount') %>:</span>
                <span class="word-count"><%= wordcount(page.content) %> | </span>
                <i class="far fa-clock fa-fw post-meta-icon"></i>
                <span class="post-meta-label"><%- __('post.min2read') %>:</span>
                <span><%= min2read(page.content) %><%- __('post.min2read_unit') %></span>
                <% if(page.comments){ %>
                    | <i class="far fa-eye fa-fw post-meta-icon"></i>
                    <span id="<%- url_for(page.path) %>" class="leancloud_visitors">
                        <span class="post-meta-label"><%- __('post.visitors') %>:</span>
                        <span id="Discuss-Visitors">N</span>
                    </span>
                <% } %>
            </div>
        </div>
        <div class="uk-alert">
            <p id="thisTime">
                <span id="timeLag"></span>
            </p>
        </div>
        <script type="text/javascript">
            function timeLag() {
                let dateTime = new Date($id("dateTime").innerHTML)  /*文章发布日期*/
                let updateTime = new Date($id("updateTime").innerHTML);  /*文章更新日期*/
                dateTime = updateTime > dateTime ? updateTime : dateTime
                let today = new Date()/*当前日期*/
                let times = today.getTime() - dateTime.getTime()  /*时间差的毫秒数*/
                /*计算出相差天数*/
                let days = Math.floor(times / (24 * 3600 * 1000))
                let thisTime = $id("thisTime")
                let timeLag = $id("timeLag")
                if (days <= 7) {
                    thisTime.classList.add("uk-alert-success");
                    timeLag.innerText = ("该文章发表于" + days + "天前~热乎中~请放心食用~")
                } else if (7 < days && days <= 30) {
                    thisTime.classList.add("uk-alert-warning");
                    timeLag.innerText = ("该文章发表于" + days + "天前~快凉了~请尽快食用~")
                } else if (days > 30) {
                    thisTime.classList.add("uk-alert-danger");
                    timeLag.innerText = ("该文章发表于" + days + "天前~已经凉了~请加热后食用~")
                }
            }

            timeLag()
        </script>
    </div>
    <div class="post_content">
        <%- page.content %>
    </div>
    <%# 版权 %>
    <%
    var url = `${config.url}/${page.path}` // 文章地址
    var licenses = theme.copyright.licenses.split("||") // 版权许可
    var title = theme.copyright.title || config.title // 网站标题
    var mail = theme.copyright.mail // 作者邮箱
    var description = theme.copyright.description.split("||")
    var author = theme.copyright.author || config.author // 作者
    %>
    <% if (theme.copyright.enable){ %>
        <% if (page.copyright == null || page.copyright){ %>
            <div class="post_copyright">
                <div class="post_copyright_icon"></div>
                <div class="post_copyright_author">
                    <span class="post_copyright_meta"><%- __('copyright.author') %>: </span>
                    <span class="post_copyright_info">
              <a href="mailto:<%- mail %>"><%- author %></a>
            </span>
                </div>
                <div class="post_copyright_type">
                    <span class="post_copyright_meta"><%- __('copyright.article_url') %>: </span>
                    <span class="post_copyright_info">
              <a href="<%= url %>"><%= url %></a>
            </span>
                </div>
                <div class="post_copyright_notice">
                    <span class="post_copyright_meta"><%- __('copyright.notice') %>: </span>
                    <span class="post_copyright_info">
                        <%- description[0] %>
                      <a href="<%= licenses[1] %> " target="_blank">
                          <%= licenses[0] %> </a> <%- description[1] %>
                      <a href="<%= url %>" target="_blank"><%- title %></a>
                    </span>
                </div>
            </div>
        <% } %>
    <% } %>

    <%# 标签  %>
    <% if(theme.tags){ %>
        <% if(page.tags.length != 0){ %>
            <div class="post_tag">
                <span>
                    <i class="fa fa-tag"></i>
                    <% page.tags.forEach(function(tag, i){ %>
                        <a href="<%= tag.path %>"><span><%- tag.name %></span></a>
                        <% if(page.tags.length - 1 > i){ %>
                            <i class="fas fa-angle-right"></i>
                        <% } %>
                    <% }) %>
                </span>
            </div>
        <% } %>
    <% } %>
    <%# 打赏 %>
    <% if(theme.reward.enable){ %>
        <% if(page.reward == null || page.reward){ %>
            <div class="post_reward">
                <div class="reward_button" <%- config.language == 'en' ? 'style="font-size: 14px;"' : "" %>>
                    <%- __("reward") %>
                    <div class="reward_main" id="panel">
                        <div class="panel_box">
                            <div class="wrapper">
                                <div class="short-line">
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="main_box">
                                    <div class="header">
                                        <div class="inner"><%= theme.reward.name %></div>
                                    </div>
                                    <div class="body">
                                        <div class="swiper-wrapper">
                                            <ul id="swiper" class="swiper animate">
                                                <li class="swiper_li">
                                                    <img src="<%= theme.reward.left.img %>"
                                                         alt="<%= theme.reward.left.name %>"
                                                         class="cursor">
                                                </li>
                                                <li class="swiper_li">
                                                    <img src="<%= theme.reward.right.img %>"
                                                         alt="<%= theme.reward.right.name %>"
                                                         class="cursor">
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="footer" id="make_reward_close">
                                        <div data-title="打赏完毕 (●'◡'●)" class="cursor"></div>
                                    </div>
                                </div>
                                <div class="long-line">
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $id("make_reward_close").onclick = function () {
                            $query(".reward_main").style.display = "none"
                        }
                        $query(".reward_button").onmousemove = function () {
                            $query(".reward_main").style.display = "block"
                        }
                    </script>
                </div>
            </div>
        <% } %>
    <% } %>
    <%# 上下一篇文章 %>
    <div class="pagination">
        <% if (page.prev){ %>
            <a href="<%- url_for(page.prev.path) %>" class="page_pre">
                <i class="fas fa-arrow-alt-circle-left"></i>
                上一篇
            </a>
        <% } %>
        <% if (page.next){ %>
            <a href="<%- url_for(page.next.path) %>" class="page_next">
                下一篇
                <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
        <% } %>
    </div>
</article>
<%- partial('_partial/third_party/comment/index') %>
<%# 是否是文章 %>
<% var is_toc = toc(page.content, {list_number: false}) == "" ? false : true; %>
<% if(is_toc && page.toc){ %>
    <div id="toc">
        <div class="toc_title">
            <div>
                <%- __("post.toc") %>
                <span class="num">0%</span>
            </div>
            <progress class="progress" value="0" max="100"></progress>
        </div>
        <div class="toc_list">
            <%- toc(page.content, {list_number: false}) %>
        </div>
    </div>
<% } %>
<%# 是否是随笔 %>
<% if (page.essay){ %>
    <style type="text/css">
        .ititle {
            margin: 15px 0;
            text-align: center;
            color: var(--love_color);
        }

        .ipage {
            line-height: 30px;
            margin: 0 auto;
            padding: 15px 32px 29px;
            background-color: #f9f9f9;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
            -moz-border-radius-bottomleft: 20px 500px;
            -moz-border-radius-bottomright: 500px 30px;
            -moz-border-radius-topright: 5px 100px;
            -webkit-border-bottom-left-radius: 20px 500px;
            -webkit-border-bottom-right-radius: 64px 10px;
            -webkit-border-top-right-radius: 5px 100px;
            border-bottom-left-radius: 20px 500px;
            border-bottom-right-radius: 64px 10px;
            border-top-right-radius: 5px 100px;
            -webkit-background-size: 100% 30px;
            -moz-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
            text-shadow: 0 1px 0 #F6EF97;
            position: relative;
        }

        .izhengwen {
            position: relative;
            top: 0;
            left: 0;
            z-index: 2;
            height: auto;
            background: repeating-linear-gradient(to bottom, #f9f9f9, #f9f9f9 31px, #6BA2D8 1px, #f9f9f9);
            background-size: 100% 32px;
        }

        #articleContent p {
            margin: 0;
        }

        .ititle {
            font-size: 1.45rem !important;
            padding: 10px;
        }

        .izhengwen p {
            margin: 0;
            position: relative;
            line-height: 2.2rem !important;
            text-indent: 2em;
            font-family: 'Architects Daughter', cursive !important;
            font-size: 1.45rem !important;
        }

        .ipage::before {
            content: " ";
            display: inline-block;
            position: absolute;
            top: 0px;
            bottom: 0;
            right: 52px;
            z-index: 4;
            width: 4px;
            height: 100%;
            border-left: 1px solid #fca1a1;
        }

        .izhengwen p:nth-child(odd):before {
            content: " ";
            display: inline-block;
            position: absolute;
            top: 0;
            left: -16px;
            z-index: 3;
            width: 24px;
            height: 24px;
            background-color: #fff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
        }

        .ipage:after {
            content: " ";
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 52px;
            z-index: 3;
            width: 4px;
            height: 100%;
            border-left: 4px double #fca1a1;
        }

        .ipage p {
            padding: 0 2em;
            color: #333 !important;
        }

        body.dark .ipage {
            opacity: 0.85;
        }

        /*小屏幕下(手机类)的样式*/
        @media only screen and (max-width: 600px) {
            .ipage {
                padding: 15px 23px 29px;
            }

            .ipage:after {
                left: 36px;
            }

            .ipage::before {
                right: 36px;
            }

            .ipage p {
                padding: 0 0.9em;
            }
        }
    </style>
<% } %>
<%# 是否有公式 %>
<% if (page.mathjax) { %>
    <!--  mathjax数学公式支持  -->
    <script src="<%- theme.CDN.mathjax %>"></script>
    <script type="application/javascript">
        MathJax = {
            loader: {
                source: {
                    '[tex]/amsCd': '[tex]/amscd'
                }
            },
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
<% } %>
